/* página principal */
body{
    background-color: #010120;
    margin: 0px;
    padding: 0px;
}

/* Header */
header{
    background-image: url("../img/fundo-menu.png");
    background-size: 100%;
    background-position: center;

    height: 400px;
    width: auto;
}
header section#buttons{
    text-align: right;
    display: block;
}

.buttom-area{
    margin: 15px 30px;
    padding: 10px 0px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.452);
    display: inline-block;
}

.botao{
    padding: 10px 20px;
    color: #FFFFFF;
}

.botao.cadastrar{
    background-color: #420F60;
    border-radius: 50px;
}

.botao.entrar:hover{
    background-color: #264E45;
    border-radius: 50px;
}

header section#content{
    text-align: center;
}

#logo{
    border-radius:  50%;
    height: 130px;
    margin: 1% 0%;
}

/* Barra de Navegação */
nav{
    background-color: #420F60;
    display: inline-block;
    margin: 20px 50px;
    text-align: center;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
    margin: 0px;
}

nav ul li{
    list-style: none;
    padding: 0px 20px;
}

nav ul li a{
    align-items: center;
    display: flex;
    padding: 0px 5px;
}

.icon-menu{
    height: 40px;
    padding: 10px;
}
/* Footer */