body{
    background-color: #010120;
    margin: 0px;
    padding: 0px;
}

header{
    background-image: url("../img/fundo-menu.png");
    background-size: 100%;
    background-position: center;

    height: 400px;
    width: auto;
}
header section#buttons{
    text-align: right;
}

header section#content{
    text-align: center;
}