/* página principal */
body{
    background-color: #010120;
    margin: 0px;
    padding: 0px;
}

/* Header */
header{
    background-image: url("../img/fundo-menu.png");
    background-size: 100%;
    background-position: center;

    height: 400px;
    width: auto;
}
header section#buttons{
    text-align: right;
    display: block;
}

/*btn Cadastro-Login*/
.buttom-area{
    margin: 15px 30px;
    padding: 10px 0px;
    border: 1px solid #FFFFFF;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.336);
    display: inline-block;
}

.botao{
    padding: 10px 20px;
    color: #FFFFFF;
    text-decoration: none;
    transition: 0.3s ease;
}

.botao.cadastrar{
    background-color: #420F60;
    border-radius: 50px;
}

.botao.entrar:hover{
    background-color: #264E45;
    border-radius: 50px;
}

.botao.entrar:hover + .botao.cadastrar {
    background-color: transparent;
}

/*Imagem-Logo*/
header section#content{
    text-align: center;
}

#logo-container {
    margin: 1% 0%;
}

#logo-header{
    border-radius:  50%;
    height: 130px;
    position: relative;
    z-index: 2;
}

.glow {
    position: relative;
    display: inline-block;
}

.glow1{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 140%;
    height: 140%;
    background-color: #f6cdfae1;
    border-radius: 50%;
    filter: blur(35px) brightness(115%);
    mix-blend-mode: lighten;
    z-index: 1;
}

.glow2{
   content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 170%;
    height: 170%;
    background-color: #c665faa6;
    border-radius: 50%;
    filter: blur(40px) brightness(125%);
    z-index: 0; 
}


/* Barra de Navegação */
nav{
    background-color: #420F60;
    display: inline-block;
    border-radius: 15px;
    margin: 50px;
    text-align: center;
    box-shadow: 5px 5px 10px #010120 ;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 0px;
}

nav ul li{
    list-style: none;
    padding: 0px 10px;
    margin: 0px 10px;
}

nav ul li a{
    align-items: center;
    display: flex;
    padding: 0px 5px;
    color: white;
    text-decoration: none;
}

nav ul li:hover{
    list-style: none;
    padding: 0px 10px;
    margin: 0px 10px;

    background-color: #5c1c81;
    border-radius: 10px;
}

.icon-menu{
    height: 35px;
    padding: 5px 10px 5px 0px;
}