body{
    background-color: #15002B;
}

header{
    display: flex;
    align-items: center; /*Centraliza todo o header*/
    justify-content: center;
    height: 450px;
    width: auto; 
    

    /*Configuração da imagem*/
    background-image: url("../img/fundo-menu.png");
    background-size: 100%;
    background-position: center;
}

.opcoes-menu{
    align-items: center; /*Centraliza icones verticalmente*/
    display: flex;
    justify-content: center;
}

.opcoes{
    margin: 6.5px;
}

.icon{
    width: 46px;
    height: 46px;
	margin: 6.5px;
}
