body{
    background-color: #15002B;
}

header{
    display: flex;
    align-items: center; /*Centraliza todo o header*/
    justify-content: center;
    height: 450px;
    width: auto; 

    /*Configuração da imagem*/
    background-image: url("../img/fundo-menu.png");
    background-size: 100%;
    background-position: center;
}

.container{
    height: 250px;
    display: flex;
    justify-content: center;
    position: relative;
}

.logo{
    height: 168px;
    width: 168px;
    border-radius: 50%;
    position: relative;
    z-index: 2;
    
}

.glow1{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150%;
    height: 150%;
    background-color: #e2acffd7;
    border-radius: 50%;
    filter: blur(40px) brightness(115%);
    mix-blend-mode: lighten;
    z-index: 1;
}

.glow2{
   content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200%;
    height: 200%;
    background-color: #efd2ff8e;
    border-radius: 50%;
    filter: blur(40px) brightness(125%);
    z-index: -1; 
}

nav{
    /*Centralizar itens*/
    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: 25px;
    margin-right: 25px;
    padding: 10px 20px;

    /*Estilização*/
    background-color: #3C1F4D;
    border-radius: 10px;
    height: 50px;
    width: 800px;

}

.opcoes-menu{
    display: flex;
    justify-content: center;
    list-style-type: none;
    align-items: center;
}

.item-link{
    display: flex;
    align-items: center;
    padding: 8px;
}

.icon{
    width: 46px;
    height: 46px;
    
}